@import url("https://fonts.googleapis.com/css2?family=Girassol&family=Open+Sans&display=swap");

body {
  margin: 0;
  min-height: 100vh;
  /* min-width: 100vh; */
}
.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
header {
  font-family: "Lato", sans-serif;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  font-weight: bold;
  font-size: 1.2rem;

  align-items: center;
  justify-content: center;
  color: white;
  height: 3rem;
  background-color: black;
}
.inputDiv {
  box-shadow: inset 10px 5px 20px rgba(0, 0, 0, 0.1), inset 10px 5px 10px white;
  font-family: "Lato", sans-serif;
  border-radius: 0.5rem;
  padding: 1rem;
  max-width: 300px;
  margin: 1rem auto;
  background-color: #f3f4f6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.both {
  display: flex;
  align-items: center;
}
h3 {
  margin: 1rem;
}

input {
  font-size: 1rem;
  max-width: 100%;
  padding: 1rem;
  margin: 0.5rem;
  border: none;
  border-bottom: 2px solid white;
  box-shadow: inset 2px 2px 8px rgba(55, 94, 148, 0.3),
    inset -3px -2px 5px hsla(0, 0%, 100%, 0.8);
}
input::placeholder {
  color: #6b7280;
}
input:focus {
  outline: none;
}
.group-button {
  cursor: pointer;
  font-size: 1rem;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  opacity: 0.8;
}
.group-button:hover {
  opacity: 1;
}
.group-button:enabled {
  border-radius: 3px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}
.group-button:disabled {
  cursor: not-allowed;
}
.output {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.expenseItem {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 1rem;
  border-radius: 3px;
  max-width: 250px;
  width: 100%;
  /* margin: auto; */
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}
.expenseItem div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.empty-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.empty-list p {
  color: red;
  margin: 0;
  font-size: 1.2rem;
}
.empty-list img {
  height: 250px;
  width: 250px;
  object-fit: cover;
}
#delete {
  cursor: pointer;
  font-size: x-large;
  color: red;
  margin-left: 1rem;
}
/* .output p {
  font-size: larger;
  margin: 0;
} */
small {
  color: #059669;
  padding-top: 0.2rem;
  margin-right: 1rem;
}
hr {
  max-width: 400px;
  margin: auto;
  margin-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
}
form button {
  align-self: center;
}

.main-model {
  display: none;
}
.model-container {
  top: 0;
  left: 0;
  position: fixed;
  min-height: 100vh;
  min-width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.model {
  padding: 1rem;
  background-color: #f3f4f6;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: 0.5rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  max-width: 600px;
  width: 100%;
  background-color: black;
  color: white;
}
footer p {
  margin: 0.5rem 0;
  text-align: center;
  font-size: 1.3rem;
}
ul {
  text-align: center;
  list-style-type: none;
  font-size: 1.5rem;
  margin: 0.5rem;
}
li {
  padding-right: 2rem;
  display: inline;
}
li a {
  text-decoration: none;
  color: white;
  opacity: 0.8;
  cursor: pointer;
}
li a:hover {
  opacity: 1;
}
